.main_color {background-size:100%;}

.avia-menu-fx {background: #ff0000 !important;}

strong {color:#fff !important;}

.header_color .main_menu ul:first-child > li > ul, #top .header_color .avia_mega_div > .sub-menu {border-top-color: #ff0000;}

.nested_nav {display:none !important;}

.widget {
	padding-top:0 !important;
	margin-top:-5px;
}

.logo {margin-top:23px;}